:root {
    font-family: 'Inter', 'sans-serif';

    --primary-color: #d9d9d9;
    --secondary-color: #bababa;
    --background-color: #d9d9d9;
    --accent-color: #474747;

    --card-color-light: #bababa;
    --card-color-strong: #a4a4a4;

    --text-color: #000000;
    --secondary-text-color: #444444;
    --icon-color: #000000;
    --footer-icon-color: #d9d9d9;
}
